name : esp-idf build test
on: 
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [ main]
jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: esp-idf build
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v5.4.2
        target: esp32
        path: 'unity-app'